body {
    font-family: arial, serif;
    background: #f2f2f2f2;
    text-align: center;
    padding: 50px;
}

.todo-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
    width: 70%;
    padding: 5px;
}

button {
    padding: 6px 10px;
    margin-left: 5px;
    margin-top: 10px;
}

li {
    list-style: none;
    margin: 5px 0;
    background: #e7f3ff;
    padding: 5px;
    border-radius: 5px;
}